extends layout

block content
  h1(style="text-align: center") Highnoon API Home
  .row
    .column.column-25.column-offset-25(style="text-align: center")
      a.button(href="/register") Register
    .column.column-25(style="text-align: center")
      a.button.button-outline(href="/login") &nbsp;Login&nbsp;
  .row(style="text-align: center")
    .column
      a.button.button-clear(href="https://github.com/bcitdatacomm/api") GitHub
  hr
