doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet', href='https://cdn.rawgit.com/necolas/normalize.css/master/normalize.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top

    .container
      .row
        .column.column-50.column-offset-25
          br
          hr
          block content
            p default page content

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="/dist/App.bundle.js")
